.text p {
    color: #d5d5d4;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0rem 3rem;
    padding:0rem 0rem;
}

.textbox textarea{
    width: 60%;
    height: 250px;
    margin-left: 9rem;
    margin-top: 2rem;
    padding: 1rem;
    color: #d5d5d4;
    background-color: #515155;
    border: 0px;
    border-radius: 10px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.submit p {
    color: #d5d5d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 10px;
    margin: 10px;
}

.submit{
    margin-left: 9rem;
    margin-top: 1rem;
}

.subtext p {
    color: #d5d5d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Responsive Nav for small screens */
@media (max-width: 768px) {
    .nav {
        display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
    }

  
    .username {
      font-size: 1rem;
    }

    .text{
      margin-top: 4rem;
    }

    .text p{
        font-size: 1.5rem;

    }
    
    .submit{
        margin-left: 3rem;
    }
    .textbox textarea{
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    .loggedIn, .loginbutton {
      flex-direction: column;
      align-items: center;
    }
  
    .loggedIn button,
    .loginbutton button {
      width: 100%;
      max-width: 200px;
      margin: 0.5rem 0;
    }
  }
  