.text p {
    color: #d5d5d4;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0rem 3rem;
    padding:0rem 0rem;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.textbox {
    margin: 1rem 0rem 0rem 9rem ;
 
}

.textbox input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #d5d5d4;
    background-color: #515155;
    border: 0px;
}

.submit {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 12rem;
}

.submit p {
    color: #d5d5d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 10px;
    margin: 10px;
}

.subtext p {
    color: #d5d5d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 12rem;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .text p {
      font-size: 2.5rem;
      margin-left: 3rem;
      margin-top: 3rem;
      text-align: left;
    }
  
    .form {
        display: flex;
        flex-direction: column;
      margin-left: 3rem;
      align-items: left;
        margin-bottom: 2rem;
    }
  
    .textbox {
      margin: 0.5rem;
    }
  
    .textbox input {
      width: 90%;
      max-width: 300px;
      height: 40px;
      font-size: 1rem;
      padding: 3px;
      padding-left: 5px;
    }
  
    .submit {
      margin-left: 3rem;
      text-align: left;
      margin-top: 0rem;
    }
  
    .submit p {
      font-size: 0.9rem;
      margin: 0.5rem;
    }
  
    .subtext p {
      margin: 1.5rem 0 0 0;
      text-align: center;
      font-size: 0.9rem;
    }
  }
  